unused
bin/*.py
bin/*
src/__pycache__
src/ash/__pycache__
src/ash/core/__pycache__
src/ash/formatting/__pycache__
src/ash/gui/__pycache__
src/ash/utils/__pycache__
dist/*
ash_editor.egg-info
*.pyc
*.txt
!/requirements.txt
!/bin/ash
!/dist/*.tar.gz